@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap');

* {
    user-select: none;
    margin: 0;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
}

.app,
.sidebar {
    display: flex;
    flex-direction: column;
}

.app {
    height: 100%;
}

.sidebar {
    height: 100%;
}

.sidebar {
    background-color: transparent;
    width: 50px;
    margin:20px 15px;
}

.app__content {
    display: flex;
    height: calc(100% - 80px);
}

.sidebar__logo {
    cursor: pointer;
    margin: 20px 8px 25px 8px;
}

.main {
    background-color: #191919;
}

.sidebar__icon {
    cursor: pointer;
    margin: 20px 10px 5px 10px;
}

.player {
    display: flex;
    margin-top: auto;
    height: 80px;
    width: 100%;
    background-color: #212121;
}

.topbar {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 25px 10px;
}

.topbar__search {
    background-color: #191919;
    width: 77%;
    height: 65px;
    border-radius: 910px;
}

.topbar-icons {
    background-color: #191919;
    border-radius: 910px;
    padding: 6px 0;
    margin-left: 6%;
    width: 85px;
    height: 30px;
    margin-top: 12px;
}

.topbar-icon {
    cursor: pointer;
    height: 30px;
    padding-left: 9px;
}

.topbar-profile {
    cursor: pointer;
    margin-right: 40px;
    margin-top: 2px;
    padding: 8.01px 8.01px;
    height: 45px;
}

.top-album {
    width: 250px;
    height: 380px;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
}

.main-layout__content {
    display: flex;
    overflow-y: scroll;
    height: 100%;
    justify-content: space-around;
}

.main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listen-now__top-albums {
    display: flex;
    justify-content: space-between;
}

.friend-activity {
    display: none;
}

@media screen and (min-width: 1420px) {
    .friend-activity {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 10px 20px 0 0;
        background-color: #191919;
        width: 240px;
        height: 660px;
        border-radius: 20px;
    }
}


.friend-activity__header {
    display: flex;
    padding: 10px 10px;
}

.friend-activity__header-text {
    display: inline-block;
    width: 70%;
    padding: 20px 15px;
    font-size: 18px;
}

.friend-activity__header-img {
    display: inline-flex;
    height: 20px;
    margin: auto 0 auto 0;
}

.listen-now__suggested-content {
    margin: 50px 0 0 15px;
    display: flex;
    justify-content: space-between;
}

.listen-now {
    margin: 10px 10px 0;
}

.suggested-playlists {
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-right: 16px;
}

.suggested-playlists__header,
.suggested-tracks__header,
.suggested-artists__header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: max-content;
}

.suggested-playlists__container {
    padding: 12px 0 0 0;
    width: 100%;
    height: 100%;
}

.suggested-tracks-container {
    margin: 12px 0 12px 0;
    padding-top: 1px;
    width: 100%;
    height: 100%;
    background-color: rgb(13, 13, 13);
    border-radius: 15px;
    padding-bottom: 1px;
    border: 1px rgb(44, 44, 44) solid;
}

.suggested-playlist {
    cursor: pointer;
    background-color: #191919;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}

.track-list {
    margin-right: 16px;
    width: 500px;
    height: fit-content;
}
.suggested-artists__container {
    padding: 12px 0 0 0;
}

.suggested-artists {
    width: 215px;
}

.suggested-artist {
    background-color: white;
    width: 105px;
    height: 105px;
    object-fit: cover;
    cursor: pointer;
}

.suggested-artist:nth-child(1) {
    border-radius: 20px 10px 10px 10px;
}

.suggested-artist:nth-child(2) {
    border-radius: 10px 20px 10px 10px;
}

.suggested-artist:nth-child(3) {
    border-radius: 10px 10px 10px 20px;
}

.suggested-artist:nth-child(4) {
    border-radius: 10px 10px 20px 10px;
}

.player-artwork {
    background-color: white;
    height: 60px;
    width: 60px;
    margin: auto 0 auto 15px;
    border-radius: 10px;
    cursor: pointer;
}

.player-controls {
    margin: 0 45px 0 115px;
    width: 115px;
    cursor: pointer;
}

.player-seekbar {
    background-color: grey;
    margin: auto 0 auto 15px;
    height: 6px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
}

.player-time {
    color: white;
    font-size: 17px;
    margin: auto 0 auto 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.shuffle,
.repeat {
    width: 30px;
}

.shuffle {
    margin-left: 45px;
    margin-right: 10px;
    cursor: pointer;
}

.player-volume {
    margin-left: 100px;
    width: 8%;
    cursor: pointer;
}

.player-volume-icon {
    margin: auto 0 auto 15px;
    cursor: pointer;
}

.repeat {
    cursor: pointer;
}

.now-playing {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: auto 0 auto 15px;
}

.track-name {
    font-weight: 700;
}

.artist-name {
    font-weight: 400;
}

.suggested-playlist-artwork {
    height: 100%;
    width: auto;
    border-radius: inherit;
}

.suggested-playlist-name {
    margin: auto 0 auto 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    box-shadow: inset ;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.friend {
    display: flex;
    height: 60px;
    font-size: 14px;
}

.friend-avatar {
    margin: auto 10px auto 20px;
    object-fit: cover;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.friend-info-container {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 0;
    width: 100%;
}

.listening-to {
    font-weight: 400;
}

.more-friends {
    margin: auto 20px 15px 20px;
    background-color: rgb(56, 56, 56);
    width: auto;
    height: 10%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.view-all-text {
    display: inline-block;
    margin: auto;
    width: fit-content;
    font-weight: 400;
}

.track-list-item {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow:hidden;

}

.suggested-track-play {
    height: 70%;
    cursor: pointer;
    margin: auto 25px auto 0;
}

.track-list-item__artwork {
    border-radius: 15px;
}

.track-list-item__name-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.track-list-item__name,
.track-list-item__artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex:1;
    vertical-align: bottom;
    width: 290px;
}

.track-list-item__artist {
    font-weight: 600;
    cursor: pointer;
}

.track-list-item__artist:hover {
    text-decoration: underline;
}

.track-list-item-fav {
    height: 13px;
    margin: auto 10px auto 13px;
    cursor: pointer;
}

.track-list-item-play {
    cursor: pointer;
}

.track-list-item__ellipsis {
    display: flex;
    border: 1px rgb(65, 66, 63) solid;
    border-radius: 50px;
    width: 75px;
    height: fit-content;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #191919;
    border-radius: 20px;
}