@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&display=swap');

* {
    user-select: none;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    background-color: #1A1919;
}

.app {
    display: flex;
    height: 100%;
}

.signup-placeholder__photo {
    height: 100%;
    width: 820px;
    object-fit: cover;
}

.signup-container {
    height: 640px;
    width: 450px;
    margin: auto auto auto 120px;
}

.signup-container__logo {
    display: flex;
}

.signup-container__logo-image {
    width: 272px;
    display: inline-block;
}

.signup-container__title {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
}

.signup-container__description {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 21px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 30px;
}

.auth-form {
    margin-top: 30px;
}

.auth-form__input {
    width: 380px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #3D3D3D;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.auth-form__input :focus::-webkit-input-placeholder {
    color: transparent;
    outline: none !important;
}

.auth-form__input:focus::-moz-placeholder {
    color: transparent;
    outline: none !important;
}

.auth-form__submit {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-family: Montserrat;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 22px;
    background: #ff4d5b;
    cursor: pointer;
}

.auth-form__submit:active {
    background: #bf3643;
}
