@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');

* {
    user-select: none;
    margin: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar {
    background-color: transparent;
    width: 50px;
    padding: 1.389vw 1.042vw;
}

.content {
    display: flex;
    height: 90%;
}

.logo {
    cursor: pointer;
    margin: 20px 8px 25px 8px;
}

.main {
    background-color: #191919;
}

.sidebar__icon {
    cursor: pointer;
    margin: 20px 10px 5px 10px;
}

.player {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #212121;
}

.content__top-bar {
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*height: 7%;*/
    margin: 1.736vw 0.694vw;
}

.content__top-bar__search {
    background-color: #191919;
    width: 77%;
    height: 4.514vw;
    border-radius: 6.944vw;
}

.content__top-bar__icons {
    background-color: #191919;
    border-radius: 6.944vw;
    padding: 6px 0;
    margin-left: 6%;
    width: 5.903vw;
    height: 2.083vw;
    margin-top: 0.833vw;
}

.content__top-bar__icons__img {
    cursor: pointer;
    height: 2.083vw;
    padding-left: 0.625vw;
}

.content__top-bar__profile {
    cursor: pointer;
    margin-right: 2.778vw;
    margin-top: 0.139vw;
    padding: 0.556vw 0.556vw;
    height: 3.125vw;
}

.listen-now__top-albums__album {
    width: 250px;
    height: 380px;
    border-radius: 25px;
    margin: 0 16px 0 0;
    object-fit: cover;
    cursor: pointer;
    /*background-image: linear-gradient(black, white);*/  /* Как сделать фильтр для картинки? */
}

.content__main {
    display: flex;
    overflow: scroll;
}

.main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listen-now__top-albums {
    width: 70%;
    display: flex;
}

.main-content__friend-activity {
    display: none;
}

@media screen and (min-width: 1420px) {
    .main-content__friend-activity {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        display: flex;
        flex-direction: column;
        margin: 0.694vw 1.389vw 0 0.694vw;
        background-color: #191919;
        width: 100%;
        height: 73.5vh;
        border-radius: 1.389vw;
    }
}


.main-content__friend-activity__header {
    padding: 0.694vw 0.694vw;
}

.main-content__friend-activity__text {
    display: inline-block;
    width: 70%;
    padding: 1.389vw 1.042vw;
    font-size: 1.250vw;
}

.main-content__friend-activity__img {
    padding-top: 0.694vw;
    display: inline-flex;
    height: 1.389vw;

}

.listen-now__suggested-content {
    margin: 50px 0 0 1.042vw;
    display: flex;
    height: 30vh;
}

.listen-now {
    padding: 0.694vw;
}

.listen-now__suggested-content__playlists {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-right: 16px;
}

.listen-now__suggested-content__playlists__header, .listen-now__suggested-content__tracks__header, .listen-now__suggested-content__artists__header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: max-content;
}

.listen-now__suggested-content__playlists__container {
    padding: 12px 0 0 0;
    width: 100%;
    height: 100%;
}

.listen-now__suggested-content__tracks__container {
    margin: 12px 0 0 0;
    width: 100%;
    height: 100%;
    background-color: #191919;
    border-radius: 0.694vw;
}

.listen-now__suggested-content__playlists__item {
    cursor: pointer;
    background-color: #191919;
    width: 100%;
    height: 65px;
    border-radius: 0.694vw;
    margin-bottom: 0.694vw;
    display: flex;
}

.listen-now__suggested-content__tracks {
    margin-right: 16px;
    width: 30vw;
}
.listen-now__suggested-content__artists__container {
    padding: 12px 0 0 0;
    width: 20vw;
    height: 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.listen-now__suggested-content__artists {
    width: 20vw;
}

.listen-now__suggested-content__artists__artist {
    background-color: white;
    width: 9.4vw;
    height: 9.4vw;
    object-fit: cover;
    cursor: pointer;
}

.listen-now__suggested-content__artists__artist:nth-child(1) {
    border-radius: 1.389vw 0.694vw 0.694vw 0.694vw;
}

.listen-now__suggested-content__artists__artist:nth-child(2) {
    border-radius: 0.694vw 1.389vw 0.694vw 0.694vw;
}

.listen-now__suggested-content__artists__artist:nth-child(3) {
    border-radius: 0.694vw 0.694vw 0.694vw 1.389vw;
}

.listen-now__suggested-content__artists__artist:nth-child(4) {
    border-radius: 0.694vw 0.694vw 1.389vw 0.694vw;
}

.player-artwork {
    background-color: white;
    height: 8vh;
    width: 8vh;
    margin: 1vh 0 auto 1vw;
    border-radius: 0.694vw;
    cursor: pointer;
}

.player-controls {
    margin: 0 3vw 0 8vw;
    width: 8vw;
    cursor: pointer;
}

.player-seekbar {
    background-color: grey;
    margin: auto 0 auto 1vw;
    height: 0.7vh;
    width: 30%;
    border-radius: 0.694vw;
    cursor: pointer;
}

.player-time {
    color: white;
    font-size: 1.2vw;
    margin: auto 0 auto 1vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.shuffle {
    margin-left: 3.125vw;
    margin-right: 0.694vw;
    cursor: pointer;
}

.player-volume {
    margin-left: 7.5vw;
    width: 8%;
    cursor: pointer;
}

.player-volume-icon {
    margin: auto 0 auto 1vw;
    cursor: pointer;
}

.repeat {
    cursor: pointer;
}

.now-playing {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: auto 0 auto 1vw;
}

.track-name {
    font-weight: 700;
}

.artist-name {
    font-weight: 400;
}

.listen-now__suggested-content__playlists__item img {
    height: 100%;
    width: auto;
    border-radius: inherit;
}

.listen-now__suggested-content__playlists__item div {
    margin: auto 0 auto 0.8vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset ;
}
