@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&display=swap');

* {
    user-select: none;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    background-color: #1A1919;
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.auth-page__placeholder {
    width: 50%;
    height: 100%;
}

.auth_page__placeholder-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.auth-page__content {
    width: 700px;
    margin-left: 120px;
}

.auth-page__logo {
    display: flex;
}

.auth-page__logo-image {
    width: 272px;
    display: inline-block;
}

.auth-page__title {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
}

.auth-page__description {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 21px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 30px;
    width: 350px;
}

.auth-form {
    margin-top: 30px;
}

.auth-form__input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #3D3D3D;
    background-color: #3D3D3D;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 10px;
    margin: 10px auto;
}

.auth-form__input:focus {
    outline: none;
    border-color: #ff4d5b;
}

.auth-form__input-requirements {
    display: inline-block;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
    list-style: disc;
    list-style-position: inside;
    max-width: 320px;
    color: #969696;
}

.auth-form__input-requirements li.invalid {
    color: #ff4d5b;
}
.auth-form__input-requirements li.valid {
    color: #2ecc71;
}

.auth-form__input-requirements li.valid:after {
    display: inline-block;
}

input:not([type="submit"]) + .auth-form__input-requirements {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s ease-out;
}

input:not([type="submit"]):hover + .auth-form__input-requirements,
input:not([type="submit"]):focus + .auth-form__input-requirements,
input:not([type="submit"]):active + .auth-form__input-requirements {
    max-height: 1000px; /* Рандомное очень большое число, чтобы список развернулся весь */
    transition: max-height 1.5s ease-in;
}

.auth-form__fail_msg {
    display: none;
    font-family: Montserrat;
    font-size: 16px;
    text-align: left;
    list-style: disc;
    list-style-position: inside;
    max-width: 350px;
    margin: 10px auto;
    color: #ff4d5b;
}

.auth-form__fail_msg.visible {
    display: block;
}

.auth-form__submit {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    border: none;
    margin: 10px auto;
    font-family: Montserrat;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 22px;
    background: #ff4d5b;
    cursor: pointer;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
    -ms-transition: All 0.2s ease;
    transition: All 0.2s ease;
}

.auth-form__submit:hover {
    background: #992e39;
}

.auth-form__submit:active {
    background: #571d22;
}
