<div class='login-ui'>
    <div class='auth-page__placeholder'>
        <img
            alt
            class='auth_page__placeholder-photo'
            src='/static/img/{{{placeholder_img}}}'
        />
    </div>
    <div class='auth-form__data'>
        <div class='auth-page__content'>
            <div class='auth-page__logo'>
                <a href='/'>
                    <img
                        alt
                        class='auth-page__logo-image'
                        src='/static/img/Logo.svg'
                    />
                </a>
            </div>
            <div class='auth-page__title'>
                {{{title}}}
            </div>
            <div class='auth-page__description'>
                {{{description}}}
            </div>
            {{{form}}}
        </div>
        <div class='auth-form__invalidities form__invalidities'></div>
    </div>
</div>
