.track {
  display: flex;
  align-items: center;
  width: 92%;
  height: 60px;
  padding: 15px 15px 0;
  font-family: var(--font);
  color: white;
  overflow: hidden;

  &__artwork {
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, rgba(30 30 30 / 50%) 0%, rgba(30 30 30 / 80%) 100%);

    &__img {
      border-radius: 15px;
      width: 60px;
      height: 60px;
    }
  }

  &__container {
    margin: 12px 0;
    width: fit-content;
    height: 100%;
    background-color: #191919;
    border-radius: 15px;
    border: 1px #191919 solid;

    &__artist {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
      font-weight: 600;
      cursor: pointer;
      width: 35vw;

      &:hover {
        text-decoration: underline;
      }
    }

    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;

      @media only screen and (max-width: 768px) {
        width: 30vw;
      }
    }
  }

  &-fav {
    height: 13px;
    margin: auto 10px auto 13px;
    cursor: pointer;
  }

  &-play {
    cursor: pointer;
  }

  &__ellipsis {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    border: 1px rgb(65 66 63) solid;
    border-radius: 50px;
    width: 75px;
    height: fit-content;
  }
}
