.track {
  display: flex;
  align-items: center;
  width: 92%;
  height: 60px;
  margin: 25px;
  font-family: var(--font);
  color: white;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    margin: 0;
    padding: 15px;
  }

  &__artwork {
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background: linear-gradient(180deg, rgba(30 30 30 / 50%) 0%, rgba(30 30 30 / 80%) 100%);

    &__img {
      border-radius: 15px;
      width: 60px;
      height: 60px;
    }
  }

  &__container {
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__artist {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
      font-weight: 600;
      cursor: pointer;
      width: 260px;

      @media only screen and (max-width: 768px) {
        width: 30vw;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;
      width: 260px;

      @media only screen and (max-width: 768px) {
        width: 30vw;
      }
    }
  }

  &-fav {
    height: 13px;
    width: 14px;
    margin: auto 10px auto 13px;
    cursor: pointer;

    &-mobile {
      height: 20px;
      width: 60px;
    }
  }

  &-play {
    cursor: pointer;
  }

  &__ellipsis {
    display: flex;
    border: 1px rgb(65 66 63) solid;
    border-radius: 50px;
    width: 110px;
    height: fit-content;

    @media only screen and (max-width: 768px) {
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.playlist__content .track__container,
.album__content .track__container,
.artist__content .track__container,
.favorites__content .track__container {

  &__name,
  &__artist {
    width: 350px;

    @media only screen and (max-width: 768px) {
      width: 30vw;
    }
  }
}
