.listen-now__top-albums {
  display: flex;
  justify-content: space-between;
}

.listen-now__suggested-content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.listen-now {
  width: 80%;
  margin: 10px 10px 0;
}

.hidden {
  visibility: hidden;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.listening-to {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  font-weight: 400;
}

.more-friends {
  margin: auto 20px 15px;
  background-color: rgb(56 56 56);
  width: auto;
  height: 10%;
  border-radius: 20px;
  display: flex;
  cursor: pointer;
}

.view-all-text {
  display: inline-block;
  margin: auto;
  width: fit-content;
  font-weight: 400;
}

.enabled {
  transition: 0.1s;
  opacity: 100%;
}
