<div class='search__content'>
    <div>
        {{{tracks}}}
    </div>
    <div>
        {{{artists}}}
    </div>
    {{#if albums}}
        <div>
            <div class='search__content__albums-header'>Albums</div>
            {{{albums}}}
        </div>
    {{/if}}
</div>
