:root {
  --ui-border-radius: 10px;
}

.search__content {
  width: 100%;
  display: grid;
  grid-template-columns: 550px auto;

  &__albums-header {
    padding: 12px 0;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    width: max-content;
  }

  &__not-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 35px;
    font-weight: 600;

    &__image {
      width: 100px;
      height: 100px;
    }
  }
}

.listen-now__top-albums {
  width: 90vw;
  margin: 0 0 15px;
}

.suggested-artist img {
  border-radius: var(--ui-border-radius);
}
