.profile-form__input {
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #3D3D3D;
  background-color: #3D3D3D;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  padding-left: 10px;
  margin: 10px 9px;
  display: flex;

  &:focus {
    outline: none;
    border-color: #CD0138;
  }
}
