<div class='track-list'>
    <div class='suggested-tracks__header'>Tracks of the Week</div>
    <div class='suggested-tracks-container'>
        {{#each tracks}}
            {{{this}}}
        {{/each}}
    </div>
</div>
