<div class='track-list'>
    <div class='suggested-tracks__header'>{{{title}}}</div>
    {{#if tracks}}
        <div class='suggested-tracks-container'>
            {{#each tracks}}
                {{{this}}}
            {{/each}}
        </div>
    {{/if}}
</div>
