<div class='favorites'>
    <div class='favorites__description'>
        <div class='favorites__description-title'>
            Your favorites
        </div>
    </div>
    <div class='favorites__content'>
        {{{trackList}}}
    </div>
</div>
