.profile-page {
  display: block;

  &__content {
    display: flex;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
  }
}

.field {
  position: relative;
  display: flex;
  align-items: baseline;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding-right: 10px;
}

.profile-form__msg,
.profile-avatar__msg {
  visibility: hidden;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  text-align: center;
  list-style: disc inside;
  max-width: 350px;
  margin: 10px 15px 0 auto;
  height: 20px;
}

.success {
  color: #2ecc71;
}

.fail {
  color: #ff4d5b;
}

.visible {
  visibility: visible;
}
