.profile-page {
  display: block;
  width: 1610px;

  &__content {
    display: flex;
  }

  &__title {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
  }
}

.field {
  position: relative;
  display: flex;
  align-items: baseline;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
  padding-right: 10px;
}

.profile-form__msg, .profile-avatar__msg {
  visibility: hidden;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  list-style: disc inside;
  max-width: 350px;
  margin: 10px 15px 0 auto;
  height: 20px;
}

.success {
  color: #2ecc71;
}

.fail {
  color: #ff4d5b;
}

.visible {
  visibility: visible;
}

.profile-avatar {
  margin: 50px;

  &__img {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__input-btn {
    color: #FFFFFF;
    padding-left: 10px;
    line-height: 40px;
    width: 100px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #3D3D3D;
    font-family: Montserrat;
    font-size: 16px;
    cursor: pointer;

    &:hover, &:focus {
      border-color: #CD0138;
    }
  }

  &__input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
