.topbar {
  justify-content: space-between;
  display: flex;
  width: 100%;
  margin: 25px 10px;

  &__search {
    display: flex;
    align-items: center;
    background-color: #191919;
    width: 30%;
    border-radius: 50px;
    opacity: 60%;

    &-icon {
      color: grey;
      margin: 0 5px 0 20px;
      font-size: 20px;
    }

    &-input {
      background: transparent;
      border: none;
      outline: none;
      font-family: Montserrat, sans-serif;
      color: white;
      font-size: 18px;
      padding-right: 20px;
      width: 100%;
      overflow: hidden;

      /* TODO=Переделать через жс */

      &:focus + .topbar-search-icon {
        color: white;
      }
    }
  }

  &__alert {
    display: flex;
    align-items: center;
    background-color: #ff4d5b;
    width: 15%;
    border-radius: 50px;
    opacity: 60%;

    &-message {
      color: white;
      display: table;
      margin: 0 auto;
      font-size: 20px;
      font-style: normal;
      font-family: Montserrat, sans-serif;
    }
  }

  &-icons {
    padding: 5px 10px;
    height: 40px;
    width: 225px;
    display: flex;
    align-items: center;
    margin-right: 100px;
  }

  &-icon {
    cursor: pointer;
    height: 30px;
    padding-left: 10px;
    color: white;
    font-size: 25px;
    margin-left: 10px;
  }

  &-profile {
    cursor: pointer;
    margin-right: 40px;
    margin-top: 2px;
    height: 45px;
    border-radius: 30px;
    margin-left: 50px;
    width: 45px;
    background: linear-gradient(180deg, rgba(30 30 30 / 50%) 0%, rgba(30 30 30 / 80%) 100%);

    & a {
      width: 45px;
      height: 45px;
      display: block;
    }

    &__img {
      object-fit: cover;
      height: 45px;
      width: 45px;
      border-radius: 30px;
    }
  }

  &-auth {
    cursor: pointer;
    margin-right: 40px;
    margin-top: 2px;
    padding: 8px;
    height: 45px;
  }
}
