<div class='topbar'>
    <div class='topbar__search'>
        <i class='topbar__search-icon fa-solid fa-magnifying-glass'></i>
        <input
            class='topbar__search-input'
            type='text'
            placeholder='Search...'
        />
    </div>
    {{#if offline}}
        <span class='topbar__message'>Internet is unavailable</span>
    {{/if}}
    <span class='topbar-icons'>
        <i class='topbar-icon fa-regular fa-bell'></i>
        <i
            class='topbar-icon fa-solid fa-gear'
            {{#if authenticated}}
                data-link
                href='/profile'
            {{/if}}
        ></i>
        {{#if authenticated}}
            <i class='topbar-icon js-logout fa-solid fa-right-from-bracket'></i>
            <img
                alt
                class='topbar-profile'
                data-link
                href='/profile'
                src='{{avatar}}'
            />
        {{else}}
            <a href='/signin' data-link>
                <i class='topbar-icon fa-solid fa-right-to-bracket'></i>
            </a>
        {{/if}}
    </span>
</div>
