<div class='topbar'>
    <div class='topbar__search'>
        <i class='topbar__search-icon fa-solid fa-magnifying-glass'></i>
        <input
            class='topbar__search-input'
            type='text'
            placeholder='Search...'
        />
    </div>
    <span class='topbar-icons'>
        <i class='topbar-icon fa-regular fa-bell'></i>
        <i class='topbar-icon fa-solid fa-gear'></i>
        {{#if authenticated}}
            <i class='topbar-icon fa-solid fa-right-from-bracket'></i>
            <img alt class='topbar-profile' src='{{avatar}}' />
        {{else}}
            <i
                class='topbar-icon fa-solid fa-right-to-bracket'
                data-link
                href='/signin'
            ></i>
        {{/if}}
    </span>
</div>
