<div class='topbar'>
    <div class='topbar__search'>
        <i class='topbar__search-icon fa-solid fa-magnifying-glass'></i>
        <input
            class='topbar__search-input'
            type='text'
            placeholder='Search...'
        />
    </div>
    {{#if offline}}
        <span class='topbar__message'>Internet is unavailable</span>
    {{/if}}
    <span class='topbar-icons'>
        <i class='topbar-icon fa-regular fa-bell'></i>
        {{#if authenticated}}<a href='/profile'>{{/if}}
        <i
            class='topbar-icon fa-solid fa-gear'
        ></i>
        {{#if authenticated}}
        </a>
            <i class='topbar-icon js-logout fa-solid fa-right-from-bracket'></i>
            <div class='topbar-profile'>
                <a href='/profile'>
                <img
                    alt
                    class='topbar-profile__img'
                    src='{{avatar}}'
                />
                    </a>
            </div>
        {{else}}
            <a href='/signin'>
                <i class='topbar-icon fa-solid fa-right-to-bracket'></i>
            </a>
        {{/if}}
    </span>
</div>
