<div class='topbar'>
    <span class='topbar__search'></span>
    <span class='topbar-icons'>
        <img
            alt
            class='topbar-icon'
            src='/src/static/img/notifications-none.svg'
        />
        <img
            alt
            id='settings'
            class='topbar-icon'
            src='/src/static/img/settings.svg'
        />
    </span>
    {{#if authenticated}}
        <img
            alt
            class='topbar-profile'
            data-link
            href='/profile'
            src='{{avatar}}'
        />
        <img
            alt
            class='topbar-auth'
            data-action='logout'
            src='/src/static/img/logout.svg'
        />
    {{else}}
        <img
            alt
            class='topbar-auth'
            data-link
            href='/signin'
            src='/src/static/img/login.svg'
        />
    {{/if}}
</div>
