<div class='friend-activity'>
    <div class='friend-activity__header'>
        <span class='friend-activity__header-text'>Friends Activity</span>
        <img
            alt
            class='friend-activity__header-img'
            src='/static/img/more_friends.svg'
            alt=''
        />
    </div>
    <div class='friends-container'>
        {{#each friends}}
            <div class='friend'>
                <img alt class='friend-avatar' src='/static/img/{{img}}.webp' />
                <div class='friend-info-container'>
                    <div class='friend-nickname'>{{nickname}}</div>
                    <div class='listening-to'>{{listening_to}}</div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class='more-friends'>
        <div class='view-all-text'>View All</div>
    </div>
</div>
