<div class='app__content'>
    {{{sidebar}}}
    <div class='main-layout'>
        {{{topbar}}}
        <div id='content' class='main-layout__content'>
            {{{content}}}
        </div>
    </div>
</div>
{{{player}}}
