* {
  user-select: none;
  margin: 0;
}

a,
a:visited {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 20px;
}

:root {
  --accent-color: #cd0138;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000000;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    height: calc(100% - 80px);
  }
}

.invisible {
  visibility: hidden;
}

.main {
  background-color: #191919;
}

.main-layout__content {
  display: flex;
  overflow-y: scroll;
  height: 100%;
  justify-content: space-between;
}

.main-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}
