@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap');

* {
    user-select: none;
    margin: 0;
}

:root {
    --accent-color: #cd0138;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
}

.app {
    display: flex;
    flex-direction: column;
}

.app {
    height: 100%;
}

.invisible {
    visibility: hidden;
}

.app__content {
    display: flex;
    height: calc(100% - 80px);
}

.main {
    background-color: #191919;
}

.sidebar__icon {
    cursor: pointer;
    margin: 20px 10px 5px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    height: 80px;
    width: 100%;
    background-color: #212121;
}

.topbar {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 25px 10px;
}

.topbar__search {
    background-color: #191919;
    width: 30%;
    height: 65px;
    border-radius: 50px;
}

.topbar-icons {
    background-color: #191919;
    border-radius: 50px;
    padding: 5px 10px;
    width: 85px;
    height: 40px;
    margin: auto 0 auto auto;
}

.topbar-icon {
    cursor: pointer;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

.topbar-profile,
.topbar-auth {
    cursor: pointer;
    margin-right: 40px;
    margin-top: 2px;
    padding: 8px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.top-album {
    transition-duration: 0.5s;
    box-shadow: 0 0 10px 1px #333333;
    width: 250px;
    height: 380px;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
}

.top-album:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 10px 4px #333333;
}

.main-layout__content {
    display: flex;
    overflow-y: scroll;
    height: 100%;
    justify-content: space-between;
}

.main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.listen-now__top-albums {
    display: flex;
    justify-content: space-between;
}

.listen-now__suggested-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.listen-now {
    width: 80%;
    margin: 10px 10px 0;
}

.hidden {
    visibility: hidden;
}

.seekbar-current,
.volume-current {
    background-color: grey;
    height: 5px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
}

.seekbar-current,
.volume-current {
    transition: 0.5s;
    width: 0;
    display: block;
    background-color: white;
}

.volume-current {
    width: 50%;
}

.shuffle,
.repeat {
    transition: 0.1s;
    width: 30px;
    opacity: 50%;
}

.shuffle {
    cursor: pointer;
}

.mute {
    width: 23px;
    opacity: 100%;
    cursor: pointer;
}

.repeat {
    cursor: pointer;
}

.disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.listening-to {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    font-weight: 400;
}

.more-friends {
    margin: auto 20px 15px;
    background-color: rgb(56, 56, 56);
    width: auto;
    height: 10%;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.view-all-text {
    display: inline-block;
    margin: auto;
    width: fit-content;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 20px;
}

.enabled {
    transition: 0.1s;
    opacity: 100%;
}

.app-dead {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}
