.album {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 25px;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__description {
    display: flex;
    align-items: center;

    &-title {
      font-size: 80px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      margin: 80px 20px;
      display: inline-block;
    }

    &-properties {
      font-size: 25px;
      display: block;
      font-weight: 500;
      margin: 0 5px;
    }

    &-avatar {
      width: 200px;
      height: 200px;
      object-fit: cover;
      background: linear-gradient(180deg, rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0.8) 100%);
      border-radius: 20px;
      display: inline-block;
      cursor: pointer;
    }

    &-img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  &__properties {
    margin: 0 10px;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
  }

  &__background-container {
    position: absolute;
    top: -200px;
    left: 0;
    z-index: -1;
    height: 800px;
    width: 100%;
  }
}

.overlay {
  position: absolute;
  height: 800px;
  width: 100%;
}

.album__content .track-list {
  width: 600px;
}

.album__content .track-list-item__name {
  width: 400px;
}
