<div class='app__content'>
    {{{sidebar}}}
    <div class='main-layout'>
        {{{topbar}}}
        <div class='main-layout__content'>
            <div class="artist__background-container">
                <div class="overlay"></div>
                <video class="artist__background-video" autoplay="" muted="" src="src/static/mov/weeknd.mp4" poster="https://www.film.ru/sites/default/files/filefield_paths/the-weeknd_d186b_opgh.jpg" class=""></video>
            </div>
            <div class="artist">
                <div class="artist__description">
                    The Weeknd
                </div>
                <div class="artist__content">
                    <div class="artist-tracks">
                        <div class="suggested-albums__header">Albums</div>
                        <div class="artist-albums__container">
                            <img class="artist-album" src="src/static/img/artists/zemphira.jpg">
                            <img class="artist-album" src="src/static/img/artists/odesza.jpg">
                            <img class="artist-album" src="src/static/img/artists/kavinskiy.jpg">
                            <img class="artist-album" src="src/static/img/artists/zemphira.jpg">
                            <img class="artist-album" src="src/static/img/artists/odesza.jpg">
                            <img class="artist-album" src="src/static/img/artists/kavinskiy.jpg">
                            <img class="artist-album" src="src/static/img/artists/zemphira.jpg">
                            <img class="artist-album" src="src/static/img/artists/odesza.jpg">
                            <img class="artist-album" src="src/static/img/artists/kavinskiy.jpg">
                            <img class="artist-album" src="src/static/img/artists/zemphira.jpg">
                            <img class="artist-album" src="src/static/img/artists/odesza.jpg">
                            <img class="artist-album" src="src/static/img/artists/kavinskiy.jpg">
                        </div>
                    </div>
                    <div class="track-list long">
                        <div class="artist-tracks__header">Tracks</div>
                        <div class="artist__suggested-tracks-container">
                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/df8755f3-811c-433e-9675-6f4951b04817_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">What to Do? (feat. Don Toliver)</div>
                                    <div class="track-list-item__artist long">Jackboys &amp; Travis Scott</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="What to Do? (feat. Don Toliver)" data-artist="Jackboys &amp; Travis Scott" data-cover="df8755f3-811c-433e-9675-6f4951b04817" data-url="" data-pos="0" data-album="Jackboys" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/5575351e-b17c-4d13-b846-38f256157914_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Maria I'm Drunk (feat. Justin Bieber &amp; Young Thug)</div>
                                    <div class="track-list-item__artist long">Travis Scott</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Maria I'm Drunk (feat. Justin Bieber &amp; Young Thug)" data-artist="Travis Scott" data-cover="5575351e-b17c-4d13-b846-38f256157914" data-url="" data-pos="1" data-album="Rodeo (Expanded Edition)" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/e4a84e2b-4119-40f2-a4d6-bf8da8f35f82_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">I Get a Kick Out of You</div>
                                    <div class="track-list-item__artist long">Frank Sinatra</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="I Get a Kick Out of You" data-artist="Frank Sinatra" data-cover="e4a84e2b-4119-40f2-a4d6-bf8da8f35f82" data-url="" data-pos="2" data-album="101 Greatest Hits From The American Songbook" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/c80c6cdd-b976-471b-9eb2-72610e4d61b5_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Six Feet Under</div>
                                    <div class="track-list-item__artist long">The Weeknd</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Six Feet Under" data-artist="The Weeknd" data-cover="c80c6cdd-b976-471b-9eb2-72610e4d61b5" data-url="" data-pos="3" data-album="Starboy" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/5575351e-b17c-4d13-b846-38f256157914_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Impossible</div>
                                    <div class="track-list-item__artist long">Travis Scott</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Impossible" data-artist="Travis Scott" data-cover="5575351e-b17c-4d13-b846-38f256157914" data-url="" data-pos="4" data-album="Rodeo (Expanded Edition)" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/282e4290-f6de-4873-8003-01272239459a_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Butterfly Effect</div>
                                    <div class="track-list-item__artist long">Travis Scott</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Butterfly Effect" data-artist="Travis Scott" data-cover="282e4290-f6de-4873-8003-01272239459a" data-url="" data-pos="5" data-album="Astroworld" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/e4a84e2b-4119-40f2-a4d6-bf8da8f35f82_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">The End of a Love Affair</div>
                                    <div class="track-list-item__artist long">Frank Sinatra</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="The End of a Love Affair" data-artist="Frank Sinatra" data-cover="e4a84e2b-4119-40f2-a4d6-bf8da8f35f82" data-url="" data-pos="6" data-album="101 Greatest Hits From The American Songbook" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/196ce425-9e1a-4a18-a04c-34a3515b8545_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Рулетка</div>
                                    <div class="track-list-item__artist long">Ночные Снайперы</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Рулетка" data-artist="Ночные Снайперы" data-cover="196ce425-9e1a-4a18-a04c-34a3515b8545" data-url="" data-pos="7" data-album="Тригонометрия" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/33ee09e9-da4e-4742-8eea-9df5b53e438c_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">Паранойя</div>
                                    <div class="track-list-item__artist long">Земфира</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="Паранойя" data-artist="Земфира" data-cover="33ee09e9-da4e-4742-8eea-9df5b53e438c" data-url="" data-pos="8" data-album="Четырнадцать недель тишины" src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                            <div class="track-list-item">
                                <img class="track-list-item__artwork" src="/src/static/img/artworks/8d0b72df-f684-4afa-8e1c-1a40d6e8b495_128px.webp">
                                <div class="track-list-item__name-container">
                                    <div class="track-list-item__name long">спринтер</div>
                                    <div class="track-list-item__artist long">Диана Арбенина</div>
                                </div>
                                <div class="track-list-item__ellipsis">
                                    <img class="track-list-item-fav" src="/src/static/img/favorite.svg">
                                    <img class="track-list-item-play" data-title="спринтер" data-artist="Диана Арбенина" data-cover="8d0b72df-f684-4afa-8e1c-1a40d6e8b495" data-url="" data-pos="9" data-album="Я говорю. Бег." src="/src/static/img/play-outline.svg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{{player}}}
