#{'.top-album'} {
  transition-duration: 0.5s;
  box-shadow: 0 0 10px 1px #333333;
  width: 250px;
  height: 380px;
  border-radius: 25px;
  object-fit: cover;
  cursor: pointer;

  &:hover {
    transition-duration: 0.5s;
    box-shadow: 0 0 10px 4px #333333;
  }
}
