.top-album {
  width: 250px;
  height: 380px;
  position: relative;

  @media only screen and (max-width: 768px) {
    flex: 0 0 auto;
    width: auto;
    max-width: 250px;
    margin-right: 10px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
  }

  &__description {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(30 30 30 / 50%) 0%, rgba(30 30 30 / 80%) 100%);
    font-family: Montserrat, sans-serif;
    color: white;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__title {
      width: 170px;
    }
  }

  &__track-count {
    margin-top: 25px;
    margin-left: 10px;
    font-size: 18px;
  }

  &__wrapper {
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;

    svg {
      background: white;
      border-radius: 40px;
    }
  }

  &__play {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin: 0 10px;
    background: var(--accent-color);
    border-radius: 20px;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .__artist,
  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
