.suggested-artists {
  width: 215px;

  &__container {
    padding-top: 12px;
  }

  &__header {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: max-content;
  }
}

.suggested-artist{
  background-color: white;
  width: 105px;
  height: 105px;
  object-fit: cover;
  cursor: pointer;

  &:nth-child(1) {
    border-radius: 20px 10px 10px 10px;
  }

  &:nth-child(2) {
    border-radius: 10px 20px 10px 10px;
  }

  &:nth-child(3) {
    border-radius: 10px 10px 10px 20px;
  }

  &:nth-child(4) {
    border-radius: 10px 10px 20px 10px;
  }
}

.artist{
  &-name {
    font-weight: 400;
  }
}
