.suggested-artists {
  width: 215px;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 12px;

    @media screen and (max-width: 768px) {
      display: flex;
      width: 97vw;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  &__header {
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    width: max-content;
  }
}

.suggested-artist {
  object-fit: cover;
  cursor: pointer;
  display: inline-block;

  & img {
    border-radius: 55px;
  }

  @media screen and (min-width: 768px) {

    &:nth-child(1),
    &:nth-child(1) img {
      border-radius: 20px 10px 10px;
    }

    &:nth-child(2),
    &:nth-child(2) img {
      border-radius: 10px 20px 10px 10px;
    }

    &:nth-child(3),
    &:nth-child(3) img {
      border-radius: 10px 10px 10px 20px;
    }

    &:nth-child(4),
    &:nth-child(4) img {
      border-radius: 10px 10px 20px;
    }
  }

  &__img {
    width: 105px;
    height: 105px;
  }
}

.artist {

  &-name {
    font-weight: 400;
  }
}
