<div class='suggested-artists'>
    <div class='suggested-artists__header'>Top Artists</div>
    <div class='suggested-artists__container'>
        {{#each artists}}
            <div class='suggested-artist{{#if ../extra_rounded}}-extrarounded{{/if}}'>
                <a href='/artist/{{props.id}}'>
                    <img
                        alt
                        class='suggested-artist__img'
                        src='/static/artists/{{props.avatar}}_128px.webp'
                    />
                </a>
            </div>
        {{/each}}
    </div>
</div>
