<div class="suggested-artists">
    <div class="suggested-artists__header">Top Artists</div>
    <div class="suggested-artists__container">
        {{# each artists}}
            <img class="suggested-artist" src="/src/static/img/artists/{{ avatar }}.webp">
        {{/each}}
    </div>
</div>
