<div class='suggested-artists'>
    <div class='suggested-artists__header'>Top Artists</div>
    <div class='suggested-artists__container'>
        {{#each artists}}
            <img
                alt
                class='suggested-artist'
                src='/static/artists/{{props.avatar}}_128px.webp'
                href='/artist/{{props.id}}'
                data-link
            />
        {{/each}}
    </div>
</div>
