.suggested-artists {
  @media screen and (min-width: 768px) {
    width: 215px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 12px;
  }

  &__header {
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    width: max-content;

    @media only screen and (max-width: 768px) {
      margin: 10px 0 0;
    }
  }
}

.suggested-artist {
  width: 128px;
  height: 128px;
  object-fit: cover;
  cursor: pointer;
  display: inline-block;
  margin: 5px auto;

  & img {
    border-radius: 20px;
  }

  &-extrarounded {
    width: 105px;
    height: 105px;
    object-fit: cover;
    cursor: pointer;
    display: inline-block;
    margin: 5px auto;

    @media only screen and (max-width: 768px) {
      width: 128px;
      height: 128px;
    }

    &:nth-child(1),
    &:nth-child(1) img {
      border-radius: 20px 10px 10px;
    }

    &:nth-child(2),
    &:nth-child(2) img {
      border-radius: 10px 20px 10px 10px;
    }

    &:nth-child(3),
    &:nth-child(3) img {
      border-radius: 10px 10px 10px 20px;
    }

    &:nth-child(4),
    &:nth-child(4) img {
      border-radius: 10px 10px 20px;
    }
  }

  @media screen and (min-width: 768px) {

    &:nth-child(1),
    &:nth-child(1) img {
      border-radius: 20px 10px 10px;
    }

    &:nth-child(2),
    &:nth-child(2) img {
      border-radius: 10px 20px 10px 10px;
    }

    &:nth-child(3),
    &:nth-child(3) img {
      border-radius: 10px 10px 10px 20px;
    }

    &:nth-child(4),
    &:nth-child(4) img {
      border-radius: 10px 10px 20px;
    }
  }

  &__img {
    @media screen and (min-width: 768px) {
      width: 105px;
      height: 105px;
    }
  }
}

.artist {

  &-name {
    font-weight: 400;
  }
}
