<div class="profile-page__content">
    <div class="profile-page__title">
        {{ title }}
    </div>
    <form class="profile-form" action="#" novalidate>
        {{# each inputs}}
            {{# render this}}{{/render}}
        {{/each}}
        <div class="profile-form__message-block">
            <p class="profile-form__message">Change password</p>
            <p class="profile-form__message grey">Leave blank if you don't want to change</p>
        </div>
        {{# each password_inputs}}
            {{# render this}}{{/render}}
        {{/each}}
        <div class="profile-form__buttons">
            <input class="profile-form__submit" type="image" src="/src/static/img/save.svg" />
        </div>
        <div class="profile-form__msg"></div>
    </form>
    <form class="profile-avatar" action="#" novalidate>
        <img class="profile-avatar__img" src="/src/static/{{ avatar_large }}">

        <input type="file" name="file" id="file" accept="image/*" class="profile-avatar__input">
        <label for="file" class="profile-avatar__input-btn">Upload file</label>

        <div class="profile-avatar__msg"></div>
    </form>
</div>
