<div class="app__content">
    {{#render sidebar}}{{/render}}
    <div class="main-layout">
        {{#render topbar}}{{/render}}
        <div class="main-layout__content">
            {{# render profileform}}{{/render}}
        </div>
    </div>
</div>
{{#render player}}{{/render}}
