<form class="auth-form" id="auth-form" action="#">
    {{# each inputs}}
        {{# render this}}{{/render}}
    {{/each}}
    <div class="auth-form__fail_msg">
        {{ fail_msg }}
    </div>
    <div class="auth-form__buttons">
        <button class="auth-form__submit" type="submit">{{ button_signin_msg }}</button>
        <div class="auth-form__redirect">
            <p>{{ p_redirect_msg }}</p>
            <a data-link href="/signup" class="redirect-msg">{{ a_redirect_msg }}</a>
        </div>
    </div>
</form>
