<div class="suggested-playlists">
    <div class="suggested-playlists__header">Your Playlists</div>
    <div class="suggested-playlists__container">
        {{# each playlists}}
            {{# render playlist}}{{/render}}
        {{/each}}
    </div>
</div>
