<div class='suggested-albums'>
    <div class='suggested-albums__header'>Suggested Albums</div>
    <div class='suggested-albums__container'>
        {{#each albums}}
            <div class='suggested-album'>
                <a href='/album/{{{props.id}}}'><img
                    alt
                    class='suggested-album__img'
                    src='/static/artworks/{{props.artwork}}_128px.webp'
                /></a>
            </div>
        {{/each}}
    </div>
</div>
