.profile-page__content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-page__title {
    font-family: Montserrat;
    color: aliceblue;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

.profile-form {
    width: 400px;
    display: inline-block;
    float: left;
    margin-top: 30px;
}

.profile-form__message-block {
    height: 50px;
}

.profile-form__message {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    padding-left: 10px;
}

.profile-form__label {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 10px;
}

.grey {
    color: #969696;
}

.profile-form__input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #3D3D3D;
    background-color: #3D3D3D;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 10px;
    margin: 10px auto;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 10px;
}

.profile-form__input:focus {
    outline: none;
    border-color: #CD0138;
}

profile-form__fail_msg {
    visibility: hidden;
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    list-style: disc inside;
    max-width: 350px;
    margin: 10px 10px;
    color: #ff4d5b;
    display: block;
}

.profile-form__fail_msg.visible {
    visibility: visible;
}

.profile-form__buttons {
    display: block;
}

.profile-form__submit {
    transition: 0.5s;
    height: 45px;
    border-radius: 10px;
    margin: 10px auto;
    font-family: Montserrat;
    font-weight: 200;
    color: #FFFFFF;
    font-size: 22px;
    cursor: pointer;
}

.profile-form__submit:hover {
    transition: 0.5s ease-in-out;
}

.profile-avatar {
    width: 400px;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 30px 50px;
}

.profile-avatar__img {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.profile-avatar__input-btn {
    color: #FFFFFF;
    padding-left: 10px;
    line-height: 40px;
    width: 300px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #3D3D3D;
    font-family: Montserrat;
    font-size: 16px;
    cursor: pointer;
}
.profile-avatar__input-btn:hover, .profile-avatar__input-btn:focus {
    border-color: #CD0138;
}
.profile-avatar__input {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
