.alert {
  position: absolute;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: white;
  padding: 10px;
  border-radius: 50px;
  background-color: #2ecc71;
  margin-left: -100px;
  width: 195px;
  text-align: center;
}
