<div class="suggested-playlists">
    <div class="suggested-playlists__header">Your Playlists</div>
    <div class="suggested-playlists__container">
        {{# each playlists}}
            <div class="suggested-playlist">
                <img class="suggested-playlist-artwork" src="/src/static/img/{{ img }}">
                <div class="suggested-playlist-name">{{ name }}</div>
            </div>
        {{/each}}
    </div>
</div>
