<div class="track-list">
    <div class="suggested-tracks__header">Tracks of the Week</div>
    <div class="suggested-tracks-container">
        {{# each tracks}}
            {{# render track }}{{/render}}
        {{/each}}
    </div>
</div>
