<div class='suggested-playlist'>
    <img
        alt
        class='suggested-playlist-artwork'
        src='/src/static/img/{{cover}}.webp'
    />
    <div class='suggested-playlist-name'>{{title}}</div>
</div>
