.suggested-playlist {
  cursor: pointer;
  background-color: #191919;
  width: 100%;
  height: 65px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;

  &-artwork {
    height: 100%;
    width: auto;
    border-radius: inherit;
  }

  &-name {
    margin: auto 0 auto 10px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 400;
    box-shadow: inset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
  }

  &-public_icon {
    margin-top: 20px;
    width: 30px;
    height: 30px;
  }
}
