<div class='suggested-playlist'>
    <a href='/playlist/{{id}}'>
        <img
            alt
            class='suggested-playlist-artwork'
            src='{{artwork}}'
        />
    </a>
    <div class='suggested-playlist-name'>{{title}}</div>
</div>
