.profile-form {
  display: inline-block;
  float: left;
  margin-top: 30px;

  &__message-block {
    padding: 35px 0 0;
  }

  &__message {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-left: 265px;
  }

  &__label {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    text-align: right;
    width: 150px;
    top: 20px;
  }

  &__invalidities {
    display: flex;
    flex-direction: column;
    float: left;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: left;
    max-width: 320px;
    margin: 50px 0;
    color: #969696;
    height: 265px;

    & div.invalid {
      color: #ff4d5b;
      margin-bottom: 10px;
    }

    & div.valid {
      color: #2ecc71;
    }
  }

  &__buttons {
    padding: 10px;
    margin-left: 160px;
  }

  &__submit {
    transition: 0.5s;
    height: 45px;
    border-radius: 10px;
    margin: 10px auto;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    color: #ffffff;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &:hover {
      transition: 0.5s ease-in-out;
    }
  }
}

.profile-avatar {
  margin: 50px;

  &__block {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(30 30 30 / 50%) 0%, rgba(30 30 30 / 80%) 100%);
  }

  &__img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__input-btn {
    color: #ffffff;
    padding-left: 10px;
    line-height: 40px;
    width: 100px;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    border: 2px solid #3d3d3d;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: #cd0138;
    }
  }

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
