.sidebar {
  @media only screen and (max-width: 768px) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: transparent;
  width: 50px;
  margin: 20px 15px;

  &__logo {
    cursor: pointer;
    margin: 15px 8px 25px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 20px 10px 5px;

    &__logo {
      margin: 13px 10px 20px;
      display: flex;
      justify-content: center;

      img {
        height: 35px;
        width: 35px;
      }
    }
  }
}
