<div class='sidebar'>
    <a href='/' class='sidebar__icon__logo'>
        <img alt src='/static/img/sidebar_logo.png' />
    </a>
    <a href='/' class='sidebar__icon'>
        <img alt src='/static/img/home.svg' />
    </a>
    <a href='#' class='sidebar__icon'>
        <img alt src='/static/img/explore.svg' />
    </a><a href='/favorites' class='sidebar__icon'>
        <img alt src='/static/img/favorite.svg' />
    </a><a href='#' class='sidebar__icon'>
        <img alt src='/static/img/more.svg' />
    </a>
</div>
