<div class='sidebar'>
    <img
        alt
        class='sidebar__logo'
        data-link
        href='/'
        src='/static/img/sidebar_logo.png'
    />
    <img alt class='sidebar__icon' src='/static/img/home.svg' />
    <img alt class='sidebar__icon' src='/static/img/explore.svg' />
    <img alt class='sidebar__icon' src='/static/img/favorite.svg' />
    <img alt class='sidebar__icon' src='/static/img/more.svg' />
</div>
