<div class="sidebar">
    <img class="sidebar__logo" data-link href="/" src="/src/static/img/sidebar_logo.webp">
    <img class="sidebar__icon" src="/src/static/img/home.svg">
    <img class="sidebar__icon" src="/src/static/img/explore.svg">
    <img class="sidebar__icon" src="/src/static/img/favorite.svg">
    <img class="sidebar__icon" src="/src/static/img/more.svg">
</div>
