<div class='sidebar'>
    <a href='/' class='sidebar__icon__logo'>
        <img alt src='/static/img/sidebar_logo.png' />
    </a>
    <a href='/' class='sidebar__icon'>
        <img alt class='js-main-link-icon' src='/static/img/home.svg' />
    </a>
    </a><a href='/favorites' class='sidebar__icon'>
        <img alt class='js-fav-link-icon' src='/static/img/favorite.svg' />
    </a>
</div>
