.__web-inspector-hide-shortcut__,
.__web-inspector-hide-shortcut__ *,
.__web-inspector-hidebefore-shortcut__::before,
.__web-inspector-hideafter-shortcut__::after {
  visibility: hidden;
}

.playlist {
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 25px;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__suggested-tracks-container {
    margin: 12px 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px rgb(44 44 44) solid;
    background: rgba(0 0 0 / 50%);
    backdrop-filter: blur(20px);
  }

  &__description {
    display: flex;
    align-items: center;

    &-text_block {
      margin: 80px 20px;
      width: 55%;
    }

    &-title {
      font-size: 80px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
    }

    &-text {
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      position: absolute;
    }

    &-delete {
      font-family: Montserrat, sans-serif;
      text-align: right;
      color: #3d3d3d;
      margin-left: 94%;
      cursor: pointer;
    }

    &-delete.confirm {
      color: #cd0138;
      text-decoration: underline;
    }

    &-delete:hover {
      color: #cd0138;
    }

    &-avatar {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 10px 100px;
      background: linear-gradient(180deg, rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0.8) 100%);
      border-radius: 20px;
      cursor: pointer;
      position: relative;
    }

    &-img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
      object-fit: cover;
      position: absolute;
    }

    &-edit {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      opacity: 0;

      &-img {
        height: 50px;
        width: 50px;
        margin: 70px 0 0;
      }

      &-msg {
        margin: 30px;
        color: white;
        font-family: Montserrat, sans-serif;
        font-weight: 700;
      }
    }

    &-edit:hover {
      opacity: 100%;
    }
  }
}

.editwindow {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  &__content {
    background-color: #191919;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 510px;
    display: flex;
  }

  &__avatar {
    display: block;

    &-block {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
      background: linear-gradient(180deg, rgba(30, 30, 30, 0.5) 0%, rgba(30, 30, 30, 0.8) 100%);
      border-radius: 20px;
      display: inline-block;
    }

    &-img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
      object-fit: cover;
    }

    &-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0%;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    &-input-btn {
      color: #ffffff;
      padding-left: 10px;
      line-height: 40px;
      width: 100px;
      margin: 5px auto 0;
      display: block;
      border-radius: 10px;
      border: 2px solid #3d3d3d;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      cursor: pointer;

      &:hover,
      &:focus {
        border-color: #cd0138;
      }
    }
  }

  &__form {
    display: inline-block;
    float: left;
    color: white;

    &-title {
      font-size: 20px;
      font-family: Montserrat, sans-serif;
      font-weight: 700;
      margin: 10px;
      text-align: center;
    }

    &-input {
      color: white;
      width: 255px;
      height: 50px;
      border-radius: 10px;
      border: 2px solid #3d3d3d;
      background-color: #3d3d3d;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      padding-left: 10px;
      margin: 40px 10px;

      &:focus {
        outline: none;
        border-color: #cd0138;
      }
    }

    &-msg {
      visibility: hidden;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      text-align: center;
      list-style: disc inside;
      max-width: 350px;
      display: block;
      height: 20px;
    }

    &-buttons {
      padding: 10px 10px 0;
      margin: 15px 0 0;
    }

    &-submit {
      transition: 0.5s;
      height: 45px;
      border-radius: 10px;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      font-size: 22px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;

      &:hover {
        transition: 0.5s ease-in-out;
      }
    }
  }
}

.playlist__content .track-list {
  width: 600px;
}

.playlist__content .track-list-item__name,
.playlist__content .track-list-item__artist {
  width: 360px;
}
