.auth {

  &_page__placeholder-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &-page {

    &__placeholder {
      width: 50%;
      height: 100%;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &__content {
      margin-left: 60px;

      @media only screen and (max-width: 768px) {
        margin: 50px 5px 0;
      }
    }

    &__logo {
      display: flex;

      @media only screen and (max-width: 768px) {
        display: block;
      }

      &-image {
        cursor: pointer;
        width: 272px;
        display: inline-block;
        margin-left: 10px;

        @media only screen and (max-width: 768px) {
          margin: 0 15%;
          width: 70%;
        }
      }
    }

    &__title {
      font-family: Montserrat, sans-serif;
      color: aliceblue;
      font-size: 45px;
      font-weight: 400;
      margin-top: 20px;
      text-align: center;
      width: 350px;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &__description {
      font-family: Montserrat, sans-serif;
      color: aliceblue;
      font-size: 21px;
      font-weight: 400;
      margin-top: 15px;
      line-height: 30px;
      width: 350px;
      text-align: center;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &-form {
    width: 350px;
    display: inline-block;
    float: left;
    margin-top: 30px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    &__invalidities {
      display: flex;
      flex-direction: column;
      float: left;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      text-align: left;
      list-style: disc inside;
      max-width: 320px;
      margin: 290px 10px 10px;
      color: #969696;
      height: 265px;

      @media only screen and (max-width: 768px) {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
        text-align: center;
      }

      & div.invalid {
        color: #ff4d5b;
        margin-bottom: 15px;
      }

      & div.valid {
        color: #2ecc71;
        margin-bottom: 15px;
      }
    }

    &__fail_msg {
      visibility: hidden;
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      text-align: center;
      list-style: disc inside;
      max-width: 350px;
      margin: 10px;
      color: #ff4d5b;
      display: block;

      @media only screen and (max-width: 768px) {
        max-width: 100%;
      }

      &.visible {
        visibility: visible;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__redirect {
      white-space: nowrap;
      font-family: Montserrat, sans-serif;
      font-size: 15px;
      color: #ffffff;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__submit {
      transition: 0.5s;
      width: 300px;
      height: 45px;
      border-radius: 10px;
      margin: 10px auto;
      font-family: Montserrat, sans-serif;
      font-weight: 200;
      color: #ffffff;
      font-size: 22px;
      cursor: pointer;

      &:hover {
        transition: 0.5s ease-in-out;
      }
    }

    &__data {
      width: 50%;
      display: flex;

      @media only screen and (max-width: 768px) {
        width: 100%;
        display: block;
      }
    }
  }
}
