<form class='auth-form' id='auth-form' action='#' novalidate>
    {{#each inputs}}
        {{{this}}}
    {{/each}}
    <div class='auth-form__fail_msg form__fail_msg'>
        {{fail_msg}}
    </div>
    <div class='auth-form__buttons'>
        <input
            class='auth-form__submit'
            type='image'
            src='/static/img/signup.svg'
        />
        <div class='auth-form__redirect'>
            <p>{{p_redirect_msg}}</p>
            <a
                data-link
                href='/signin'
                class='redirect-msg'
            >{{a_redirect_msg}}</a>
        </div>
    </div>
</form>
