.player {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: auto;
  height: 80px;
  width: 100%;
  background-color: #212121;

  &-artwork {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    cursor: pointer;
  }

  &-controls {
    display: flex;
  }

  &-skip-right {
    cursor: pointer;
    transform: rotate(180deg);
  }

  &-skip-left {
    cursor: pointer;
  }

  &-play {
    cursor: pointer;
  }

  &__seekbar {
    background-color: grey;
    height: 5px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;

    &__current, .volume-current {
      transition: 0.5s;
      width: 0;
      display: block;
      background-color: white;
    }

    .volume-current {
      width: 50%;
    }

    &:hover .seekbar-current {
      transition: 0.5s;
      background-color: var(--accent-color);
    }
  }

  &__time {
    width: 30px;
    color: white;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  &-volume {
    width: 10%;
    cursor: pointer;

    &:hover .volume-current {
      transition: 0.5s;
      background-color: var(--accent-color);
    }
  }

  &-track {
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &__title {
      &-shadow {
        width: 5px;
        position: absolute;
      }

      &-container {
        display: flex;
      }
    }
  }
}

.seekbar-current,
.volume-current {
  height: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  width: 0;
  display: block;
  background-color: white;
}

.volume-current {
  width: 50%;
}

.shuffle,
.repeat {
  transition: 0.1s;
  width: 30px;
  opacity: 50%;
}

.shuffle {
  cursor: pointer;
}

.mute {
  width: 23px;
  opacity: 100%;
  cursor: pointer;
}

.repeat {
  cursor: pointer;
}

.disabled {
  opacity: 50%;
  cursor: not-allowed;
}
