.app {
  height: 100%;
}

body,
html {
  height: 100%;
}

.login-ui {
  display: flex;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.redirect-msg {
  color: #ffffff;
}

.nickname__invalidities {
  @media only screen and (min-width: 768px) {
    margin-top: 10px;
    height: 75px;
  }
}

.email__invalidities {
  @media only screen and (min-width: 768px) {
    height: 75px;
  }
}
