@font-face {
    font-family: Montserrat;
    src: url('../../static/fonts/Montserrat.css');
}

@font-face {
    font-family: Oswald;
    src: url('../../static/fonts/Oswald.css');
}

.app {
    height: 100%;
}

body,
html {
    height: 100%;
}

.login-ui {
    display: flex;
    height: 100%;
    align-items: center;
}

.redirect-msg {
    color: #ffffff;
}
