.app {
  height: 100%;
}

body,
html {
  height: 100%;
}

.login-ui {
  display: flex;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.redirect-msg {
  color: #ffffff;
}

.nickname__invalidities {
  margin-top: 10px;
  height: 75px;
}

.email__invalidities {
  height: 75px;
}
