.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    height: calc(100% - 80px);

    @media only screen and (max-width: 768px) {
      height: calc(100% - var(--mobile-footer-height));
    }
  }
}

.alerts {
  position: fixed;
  z-index: 10;
  left: 50%;
  bottom: 150px;
}
