.mobile {

  &-track-title {
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
  }

  &-track-artist {
    width: 100%;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
  }

  &-footer {
    height: 0;
    font-family: var(--font);
    color: var(--main-font-color);

    @media only screen and (max-width: 768px) {
      position: fixed;
      bottom: 0vh;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      height: var(--mobile-footer-height);
      width: 100%;
      background: var(--background-color);

      &__player {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calc(var(--mobile-footer-height) / 2);

        &__container {
          margin: 5px;
        }

        &__progress {
          height: 2px;
          transition: var(--seekbar-transition);
          width: var(--seekbar-current);
          background-color: var(--accent-color);
        }

        &__icon {
          font-size: var(--icon-size);
          display: flex;
          justify-content: center;
          width: 60px;
        }

        &__track {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
          flex-direction: column;
          flex-grow: 1;
          width: 70%;

          &__artist {
            color: var(--artist-color);
          }

          &__album {
            height: 100%;
            margin-left: 5px;
          }
        }
      }

      &__menu {
        position: relative;
        transition: ease-in-out var(--player-hide-duration);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calc(var(--mobile-footer-height) / 2);
        font-size: var(--mobile-footer-icon-size);
        z-index: 10;
        background-color: var(--background-color);
        top: 0vh;

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__icon {
            display: flex;
            align-content: center;
            vertical-align: center;
          }
        }

        &__hidden {
          position: relative;
          transition: ease-in-out var(--player-hide-duration);
          top: 100vh;
        }
      }
    }
  }

  &-player {
    transition: ease-in-out var(--player-hide-duration);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(var(--artwork-accent-color), #000000);

    @media only screen and (min-width: 769px) {
      display: none;
    }

    &__container {
      height: 93%;
      margin: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }

    &__close {
      display: flex;
      color: var(--button-color);
      font-size: var(--chevron-hide-size);
    }

    &__artwork {
      margin: 5vh 0;
      filter: drop-shadow(rgba(0, 0, 0, 30%) 0px 0px 1px) drop-shadow(rgba(0, 0, 0, 30%) 0px 0px 10px);
      width: 100%;
      max-width: var(--mobile-player-artwork-max-width);
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      width: 60vw;

      &__play {
        filter: invert(1);
        width: 75px;
        height: 75px;
      }
    }

    &__now-playing {
      display: flex;
      color: var(--main-font-color);
      flex-direction: column;
      font-family: var(--font);
      width: -webkit-fill-available;
      margin-bottom: 15px;

      &__artist {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: var(--artist-font-size);
      }

      &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: var(--mobile-track-font-weight);
        font-size: var(--mobile-track-font-size);
      }
    }

    &__progress {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;

      &__bar {
        transition: var(--seekbar-transition);
        height: var(--mobile-player-seekbar-height);
        background-color: var(--player-seekbar-background);
        border-radius: var(--mobile-player-seekbar-radius);
        position: relative;

        &__elapsed {
          width: var(--seekbar-current);
          transition: var(--seekbar-transition);
          position: absolute;
          border-radius: var(--mobile-player-seekbar-radius);
          height: var(--mobile-player-seekbar-height);
          background-color: var(--artwork-accent-color);
          filter: saturate(10);
        }
      }

      &__time {
        margin-top: 5px;
        color: var(--main-font-color);
        justify-content: space-between;
        display: flex;
        font-family: var(--font);
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
      color: var(--main-font-color);
      font-size: var(--mobile-footer-icon-size);
    }

    &__hidden {
      transition: ease-in-out var(--player-hide-duration);
      top: 100vh;
    }
  }
}
