<aside class='mobile-player'>
    <i class='mobile-player__close fas fa-chevron-down'></i>
    <img
        class='mobile-player__artwork'
        src='https://lostpointer.site/static/artworks/e8d30900-e884-469d-817b-a6d1f89dba13_384px.webp'
    />
    <div class="mobile-player__controls">
        <img alt src="/static/img/skip.svg" id="player-skip-left"
             class="player-skip-left{{# if left_disabled }} disabled{{/if}}">
        <img alt src="/static/img/{{# if playing}}pause.svg{{ else }}play.svg{{/if}}"
             class="mobile-player__controls__play player-play">
        <img alt src="/static/img/skip.svg" id="player-skip-right"
             class="player-skip-right{{# if right_disabled }} disabled{{/if}}">
    </div>
</aside>
<div class='mobile-footer'>
    <div class='mobile-footer__player__progress'></div>
    <div class='mobile-footer__player'>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-heart'></i>
        </div>
        <div class='mobile-footer__player__track'>
            <div class='mobile-footer__player__track__title'>
                After hours
            </div>
            &nbsp;•&nbsp;
            <div class='mobile-footer__player__track__artist'>
                The weeknd
            </div>
        </div>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-play'></i>
        </div>
    </div>
    <div class='mobile-footer__menu'>
        <a href='/' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-house'></i>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-compact-disc'></i>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-user'></i>
        </a>
    </div>
</div>
