:root {
  --background-color: #212121;
  --font: 'Montserrat', sans-serif;
  --font-color: white;
  --artist-color: #b3b3b3;
  --icon-size: 20px;
  --chevron-hide-color: white;
  --chevron-hide-size: 25px;
  --player-hide-duration: 450ms;
  --mobile-track-font-size: 30px;
  --mobile-track-font-weight: 600;
  --artist-font-size: 20px;
  --mobile-footer-icon-size: 25px;
  --mobile-player-seekbar-height: 4px;
  --mobile-player-seekbar-radius: 2px;
}

.mobile {

  &-footer {
    height: 0;
    font-family: var(--font);
    color: var(--font-color);

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-top: auto;
      height: var(--mobile-footer-height);
      width: 100%;
      background: var(--background-color);

      &__player {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calc(var(--mobile-footer-height) / 2);

        &__container {
          margin: 5px;
        }

        &__progress {
          height: 2px;
          width: 95%;
          background-color: var(--accent-color);
        }

        &__icon {
          font-size: var(--icon-size);
        }

        &__track {
          display: flex;

          &__artist {
            color: var(--artist-color);
          }
        }
      }

      &__menu {
        position: relative;
        transition: ease-in-out var(--player-hide-duration);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calc(var(--mobile-footer-height) / 2);
        font-size: var(--mobile-footer-icon-size);
        z-index: 10;
        background-color: var(--background-color);
        top: 0vh;

        &__item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__icon {
            display: flex;
            align-content: center;
            vertical-align: center;
          }
        }

        &__hidden {
          position: relative;
          transition: ease-in-out var(--player-hide-duration);
          top: 100vh;
        }
      }
    }
  }

  &-player {
    transition: ease-in-out var(--player-hide-duration);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    background: linear-gradient(#7c2c1b, #000000);

    &__container {
      height: -webkit-fill-available;
      margin: 25px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
    }

    &__close {
      display: flex;
      color: var(--chevron-hide-color);
      font-size: var(--chevron-hide-size);
    }

    &__artwork {
      margin: 5vh 0;
      filter: drop-shadow(rgba(0, 0, 0, 30%) 0px 0px 1px) drop-shadow(rgba(0, 0, 0, 30%) 0px 0px 10px);
      max-width: 435px;
      max-height: 435px;
      width: -webkit-fill-available;
      height: auto;
    }

    &__controls {
      display: flex;
      justify-content: space-between;
      width: 55vw;

      &__play {
        width: 75px;
        height: 75px;
      }
    }

    &__now-playing {
      display: flex;
      color: var(--font-color);
      flex-direction: column;
      font-family: var(--font);
      width: -webkit-fill-available;
      margin-bottom: 15px;

      &__artist {
        font-size: var(--artist-font-size);
      }

      &__title {
        font-weight: var(--mobile-track-font-weight);
        font-size: var(--mobile-track-font-size);
      }
    }

    &__progress {
      display: flex;
      flex-direction: column;
      width: -webkit-fill-available;

      &__bar {
        height: var(--mobile-player-seekbar-height);
        background-color: var(--player-seekbar-background);
        border-radius: var(--mobile-player-seekbar-radius);

        &__elapsed {
          position: absolute;
          border-radius: var(--mobile-player-seekbar-radius);
          height: var(--mobile-player-seekbar-height);
          width: 50%;
          background-color: var(--accent-color);
        }
      }

      &__time {
        margin-top: 5px;
        color: var(--font-color);
        justify-content: space-between;
        display: flex;
        font-family: var(--font);
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      width: -webkit-fill-available;
      color: var(--font-color);
      font-size: var(--mobile-footer-icon-size);
    }

    &__hidden {
      transition: ease-in-out var(--player-hide-duration);
      top: 100vh;
    }
  }
}
