<div class='mobile-footer'>
    <div class='mobile-footer__player'>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-heart'></i>
        </div>
        <div class='mobile-footer__player__track'>
            <div class='mobile-footer__player__track__title'>
                After hours
            </div>
            •
            <div class='mobile-footer__player__track__artist'>
                The weeknd
            </div>
        </div>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-play'></i>
        </div>
    </div>
    <div class='mobile-footer__menu'>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-house'></i>
            <div class='mobile-footer__menu__item__title'>Home</div>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-magnifying-glass'></i>
            <div class='mobile-footer__menu__item__title'>Search</div>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-compact-disc'></i>
            <div class='mobile-footer__menu__item__title'>Your Library</div>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-user'></i>
            <div class='mobile-footer__menu__item__title'>Profile</div>
        </a>
    </div>
</div>
