<aside class='mobile-player'>
    <div class='mobile-player__container'>
        <i class='mobile-player__close fas fa-chevron-down'></i>
        <img
            class='mobile-player__artwork'
            src='https://lostpointer.site/static/artworks/e8d30900-e884-469d-817b-a6d1f89dba13_384px.webp'
        />
        <div class='mobile-player__now-playing'>
            <div class='mobile-player__now-playing__title'>Каждый раз</div>
            <div class='mobile-player__now-playing__artist'>Монеточка</div>
        </div>
        <div class='mobile-player__progress'>
            <div class='mobile-player__progress__bar'></div>
            <div class='mobile-player__progress__bar__elapsed'></div>
            <div class='mobile-player__progress__time'>
                <div class='mobile-player__progress__time__elapsed'>0:00</div>
                <div class='mobile-player__progress__time__remaining'>3:59</div>
            </div>
        </div>
        <div class="mobile-player__controls">
            <img alt src="/static/img/skip.svg" id="player-skip-left"
                 class="player-skip-left{{# if left_disabled }} disabled{{/if}}">
            <img alt src="/static/img/{{# if playing}}pause.svg{{ else }}play.svg{{/if}}"
                 class="mobile-player__controls__play player-play">
            <img alt src="/static/img/skip.svg" id="player-skip-right"
                 class="player-skip-right{{# if right_disabled }} disabled{{/if}}">
        </div>
        <div class='mobile-player__actions'>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-regular fa-share-from-square"></i>
        </div>
    </div>
</aside>
<div class='mobile-footer'>
    <div class='mobile-footer__player__progress'></div>
    <div class='mobile-footer__player'>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-heart'></i>
        </div>
        <div class='mobile-footer__player__track'>
            <div class='mobile-footer__player__track__title'>
                After hours
            </div>
            &nbsp;•&nbsp;
            <div class='mobile-footer__player__track__artist'>
                The weeknd
            </div>
        </div>
        <div class='mobile-footer__player__icon'>
            <i class='fa-solid fa-play'></i>
        </div>
    </div>
    <div class='mobile-footer__menu'>
        <a href='/' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-house'></i>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-compact-disc'></i>
        </a>
        <a href='#' class='mobile-footer__menu__item'>
            <i class='fa-solid fa-user'></i>
        </a>
    </div>
</div>
